<ion-view view-title="{{ 'PAGES.PRIVACY_TITLE' | translate }}" hide-back-button="false">
    <ion-content class="padding has-header">
        <h2>Datenschutzerklärung</h2>
        <p>Die Horizont Electronic Vertriebs GmbH hat die App Horizont Auftrag App als commerzielles Produkt zur Unterstützung Ihrer Online Dienste Entwickelt. Die App ist Kostenfrei benötigt aber eine aktive Mitgliedschaft in einem unserer Services. Die App kommt "wie sie ist" zur Benutzung durch den Kunden</p>

        <p>Diese Erklärung soll den Nutzer über unsere Nutzung, Speicherung, Verarbeitung und Weitergabe aller generierten Daten informieren.</p>

        <p><strong>Datenerhebung und Verarbeitung</strong></p>

        <p>Zur bestmöglichen Nutzung unserer Dienstleistungen ist es notwendig das wir bestimmte personenbezogen identifizierbare informationen, unter anderem aber nicht ausschließlich Standort, Adresse, Uhrzeit, Benutzername und andere Personenbezogene Informationen auf dem Benutzergerät sammeln und an unsere Server übertragen. Diese information wird nicht mit unbeteiligten Dritten geteilt oder anderwärtig als zur Nutzung unseres Services Notwendig verwendet. Die Daten werden ausschließlich bei aktiver Mitgliedschaft des Kunden an unsere Server übertragen.
        </p>

        <p><strong>Datenlogs</strong></p>

        <p>Wir informieren hiermit darüber das wen unsere Dienstleistung genutzt wird und die App einen Fehler generieren sollte, wir sogenannte Datenlogs auf dem Benutzergerät sammeln. Diese Logs enthalten unter anderem, aber nicht ausschließlich, den Standort, IP Adresse, Gerätename, Gerätebauart, Versionsnummer und momentane Konfiguration sowie andere Statistische Daten.</p>

        <p><strong>Cookies</strong></p>

        <p>Cookies sind kleine Dateien mit minimalen Datenmengen welche in der Regel genutzt werden um das Endgerät nach Möglichkeit Anonym zu identifiuieren. Cookies werden durch den Browser im Benutzergerät erzeugt und im Gerätespeicher abgelegt und enthalten informationen über die Besuchten Webseiten..</p>

        <p><strong>Datensicherheit</strong></p>

        <p>Wir wissen um die wichtigkeit der sicheren Datenspeicherung der durch unsere Kunden bereitgestellten Daten. Aus diesem Grunde haben wir jedwede commerziell durchführbare Möglichkeit zur Sicherung und Schutz dieser Daten auf unseren Servern getroffen und passen diese Stetig den aktuellen Umständen an. Wir möchten dennoch darauf hinweisen das jedwede Übtertragung von Daten über das Internet oder anderen elektronischen Wege niemals zu 100% Sicher sein kann, wir können daher keine absolute Garantie der Datensicherheit geben.</p>

        <p><strong>Links auf andere Webseiten und Webservices</strong></p>

        <p>Unsere Dienstleistung kann Links zu Dienstleistungen und Webseiten von Drittanbietern enthalten. Sollten Sie auf einen Link eines Drittanbieters klicken während sie unsere App benutzen, so werden Sie auf dessen Webservices geleitet. Bitte beachten Sie das die Webservices der Drittanbieter nicht durch uns betrieben werden und wir keinen Einfluss auf deren Inhalt, Datenschutzrichtlinien und Gepflogenheiten gegenüber weiteren Drittanbietern.</p>

        <p><strong>Änderungen dieser Datenschutzvereinbarung</strong></p>
        <p>Diese Datenschutzvereinbarung kann durch uns von Zeit zu Zeit verändert und angepasst werden. Von daher weisen wir darauf hin in regelmäßigen Abständen diese zu Lesen. Änderungen an dieser Vereinbarung werden hier hervorgehoben. Änderungen treten umgehend in kraft, sobald sie hier veröffentlicht wurden.</p>

        <p><strong>Kontaktdaten</strong></p>

        <p>Sollten Sie weiterführende Fragen haben oder einzelne Abschnitte dieser Vereinbarung unklar oder ungenügend sein, so zögern Sie nicht uns unter folgender Anschrift zu kontaktieren</p>

        <p>
            Horizont Electronic Vertriebs GmbH & Co. KG
            <br>
            Päwesiner Weg 46/47
            <br>
            13581 Berlin
        </p>
    </ion-content>
</ion-view>